In [1]:
# pip install openai

# imports
import os
from openai import AzureOpenAI
import pandas as pd

In [2]:
# initialize authentification credentials
endpoint = os.getenv("ENDPOINT_URL", "https://oai-test-ss.openai.azure.com/")
deployment = os.getenv("DEPLOYMENT_NAME", "gpt-35-turbo")
api_key = os.getenv("AZURE_OPENAI_API_KEY", "")
# os.environ["AZURE_OPENAI_API_KEY"] = 
# os.environ["DEPLOYMENT_NAME"] = SAS.SYMGET("genModelDeployment")
# os.environ["AZURE_OPENAI_ENDPOINT"] = SAS.SYMGET("azureOpenAIEndpoint")

In [3]:
# Obtain values from UI
system_prompt = "You are a helpful library assistant. For each description of a book, answer the questions asked in a brief manner.  Use one word wherever possible. Provide answer as a key value pair, i.e. Key: Answer"
input_data = pd.read_csv("book_desc.csv")
doc_id = "title"
text_col = "description"
user_prompt = "Question: What is the genre of this book? Context: "
temperature = 0.7
output_table = pd.DataFrame(columns=[])
# input_data= SAS.symget("inputData")
# output_table = SAS.symget("outputTable")
# system_prompt = SAS.symget("system_prompt")
# user_prompt = SAS.symget("user_prompt")
# text_col = SAS.symget("textcol")
# temperature = SAS.symget(temperature)

In [4]:
# initialize the AzureOpenAI client
client = AzureOpenAI(
    api_key=api_key,
    api_version="2024-10-21", 
    azure_endpoint=endpoint
)

In [5]:
def call_llm(context): 
    # generate prompt
    chat_prompt = [
    {
        "role": "system",
        "content": system_prompt
    },
    {
        "role": "user",
        "content": user_prompt + context 
    }
    ]
    
    # call the llm 
    completion = client.chat.completions.create(
        model = deployment,
        messages = chat_prompt,
        temperature = temperature
    )  
    return completion.choices[0].message.content

In [6]:
output_table["response"]= input_data[text_col].apply(call_llm)

In [7]:
output_table.head(10)

                       response
0              Answer: Fantasy.
1                 Key: Fiction.
2  Key: Genre - Answer: Fiction

In [8]:
pdf = pd.DataFrame({"a":[1,2,3], "b":[4,5,6]})

def summ(a):
    return a**2


pdf["square"] = pdf["a"].apply(summ)

In [9]:
pdf

   a  b  square
0  1  4       1
1  2  5       4
2  3  6       9

## Reframing above code as a set of functions